@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}



/**
    The lines above are intact.
    The lines below were added by maryUI installer.
*/

/** daisyUI */
@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

/* maryUI */
@source "../../vendor/robsontenorio/mary/src/View/Components/**/*.php";

/* Theme toggle */
@custom-variant dark (&:where(.dark, .dark *));

/**
* Paginator - Traditional style
* Because Laravel defaults does not match well the design of daisyUI.
*/

.mary-table-pagination span[aria-current="page"]>span {
    @apply bg-primary text-base-100
}

.mary-table-pagination button {
    @apply cursor-pointer
}

/* Universal thin scrollbar for all browsers */
* {
    scrollbar-width: thin;
    /* scrollbar-color: #bdbdbd #f5f5f5; */
}

*::-webkit-scrollbar {
    width: 2px !important;
    height: 2px !important;
}

*::-webkit-scrollbar-thumb {
    background: #bdbdbd;
    border-radius: 12px;
}

*::-webkit-scrollbar-track {
    background: #f5f5f5;
}

*::-webkit-scrollbar-corner {
    background: #f5f5f5;
}

/* Sidebar specific (if sidebar has a class, e.g., .sidebar) */
.sidebar {
    scrollbar-width: thin;
    scrollbar-color: #bdbdbd #f5f5f5;
}

.sidebar::-webkit-scrollbar {
    width: 1px !important;
}

.sidebar::-webkit-scrollbar-thumb {
    background: #bdbdbd;
    border-radius: 6px;
}
